
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: rgb(177, 55, 55);
    font-size: 2rem;
}
.nav-link{
color: #222222  !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-socilas i{
font-size: 1.2rem;
margin-right: 1rem;
 }

.f-info-links , .f-info-socilas ,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
}


.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #e6e2e27b;
    flex-wrap: wrap;
    justify-content:  center;
}

.card {
    border: none !important;
    border-radius: 1rem !important;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important; */
  }
  
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
     border-radius: 1rem !important;
     width: 100% !important;
     object-fit: cover !important;
    }

.card-body{

    padding: 0 !important;

}

.listing-links{
text-decoration: none;
}

.card-img-overlay{
opacity: 0;
}

.card-img-overlay:hover{
opacity: 0.2;
background-color: white;
}

.add-btn{
    background-color: rgb(177, 55, 55) !important;
}
.btn-edit{
    background-color: rgb(177, 55, 55) !important;
}


/* show image  */

.show-img{
    height: 30vh ;
}
.btns{
    display: flex;

}